/** {*/
    /*border: 1px solid red;*/
/*}*/

html {
    text-align: center;
    margin: 0 auto;
}
body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
    color: white !important;
    max-width: 720px;
    text-align: center;
    margin: 0 auto;
}

.container {
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 800px;
    margin: 0 auto;

}

.card i {
    font-size: 48px !important;
    color: white;
}

.card {
    height: 130px !important;
    width: 130px !important;
    padding: 5px !important;
    background: #2e3d49 !important;
}

.card.open {
    background: #02b3e4 !important;
}

.card.matched {
    background: #02ccba !important;
}

.modal-content {
    background: #02b3e4 !important;
}

#newGameButton {
    background: #2e3d49 !important;
}

@media screen and (max-width: 768px) {
    .card i {
        font-size: 40px !important;
        color: white;
    }
    .card {
        width: 120px !important;
        height: 120px !important;
    }
}

@media screen and (max-width: 576px) {
    .card i {
        font-size: 32px !important;
        color: white;
    }
    .card {
        width: 90px !important;
        height: 90px !important;
    }
    #cardTable {
        max-height: 500px !important;
    }
}

@media screen and (max-width: 414px) {
    .card {
        width: 70px !important;
        height: 70px !important;
        padding: 5px !important;
    }
    #cardTable {
        max-height: 500px !important;
    }
}

html, body, .container {
    height: 100vh; !important
}

#cardTable {
    height: 90%;
}

h4 {
    margin: 0 auto;
    text-align: center;
}